@model ProductViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Added Page</h2>

<div asp-validation-summary="All"></div>

<form class="form-group" asp-controller="Product" asp-action="Add" method="post" enctype="multipart/form-data">

    <label>Name</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span class="text-danger" asp-validation-for="Name"></span>
    <br />
    <label>Price</label>
    <input type="text" asp-for="Price" class="form-control" />
    <span class="text-danger" asp-validation-for="Price"></span>
    <br />
    <label>Stock</label>
    <input type="text" asp-for="Stock" class="form-control" />
    <span class="text-danger" asp-validation-for="Stock"></span>
    <br />
    <label>Data Time</label>
    <input asp-for="DateTime" class="form-control" />
    <br />
    @foreach (var item in ViewBag.Expert as Dictionary<String, int>)
    {
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="@item.Value">
            <label class="form-check-label" for="inlineRadio1">@item.Key</label>
        </div>
    }
    <br/>
    <div class="mb-3">
        <input class="form-control" type="file"  asp-for="Image">
    </div>
    <br />
    <div class="mb-3">
    <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Categories">
        <option value="">Kategori Seçiniz</option>
    </select>  
    <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>
    <br/>  

    <button class="btn btn-outline-success" type="submit">Add</button>
</form>


@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
